body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffadad; /* opcional, color de fondo */
}
canvas {
  display: block;
}
